<template>
    <div>
        <el-form ref="queryForm" :inline="true" label-width="96px">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="供应商编码">
                        <el-input placeholder="供应商编码" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="供应商名称">
                        <el-input placeholder="供应商名称" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8"></el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="供应商简称">
                        <el-input placeholder="供应商简称" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="纳税人登记号">
                        <el-input placeholder="纳税人登记号" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="所属行业">
                        <el-input placeholder="所属行业" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="省">
                        <el-input placeholder="省" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="市">
                        <el-input placeholder="市" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="地址">
                        <el-input placeholder="地址" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="邮政编码">
                        <el-input placeholder="邮政编码" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="开户银行">
                        <el-input placeholder="开户银行" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="银行账号">
                        <el-input placeholder="银行账号" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="法人">
                        <el-input placeholder="法人" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="发票日期">
                        <el-input placeholder="发票日期" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="所属行业">
                        <el-input placeholder="所属行业" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="联系电话">
                        <el-input placeholder="联系电话" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="联系电话2">
                        <el-input placeholder="联系电话2" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="传真">
                        <el-input placeholder="传真" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="email">
                        <el-input placeholder="email" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="联系人">
                        <el-input placeholder="联系人" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="付款条件">
                        <el-input placeholder="付款条件" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="到货地址">
                        <el-input placeholder="到货地址" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="到货方式">
                        <el-input placeholder="到货方式" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="营业执照">
                        <el-input placeholder="营业执照" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">

                </el-col>
                <el-col :span="8">

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="是否停用">
                        <el-radio-group>
                            <el-radio label="是"></el-radio>
                            <el-radio label="否"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
                <el-col :span="8">

                </el-col>
                <el-col :span="8">

                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>

    export default {
        name: 'supportship',
        data() {
            return {

            }
        },
        methods: {

        }
    }
</script>

<style lang="scss" scoped>
</style>