<template>
    <div>
        <el-dialog title="物资导入" :visible.sync="dialogVisible" @close="$emit('update:show',false)" width="50%">
            <el-table :data="importdata" border tooltip-effect="dark" style="width: 100%" size="mini" @selection-change="importselectchange">
                <el-table-column align="center" type="selection" width="55">
                </el-table-column>
                <el-table-column prop="invCode" label="物资编码" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="invName" label="物资名称" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="invSepc" label="规格" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="invModel" label="型号" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="unitName" label="计量单位" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="price" label="单价" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="sn" label="注册号" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="venName" label="生产厂商" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="productAddr" label="产地" show-overflow-tooltip>
                </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
                <el-button @click="$emit('update:show',false)">取 消</el-button>
                <el-button type="primary" @click="OKpost">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>

    export default {
        name: 'ImportGoods',
        data() {
            return {
                dialogVisible: this.show,
                postdata:[]
            }
        },
        props: {
            show: {
                default: false,
                type: Boolean
            },
            importdata:{
                default:[],
                type:Object
            }
        },
        watch: {
            show(val) {
                this.dialogVisible = this.show
            }
        },
        methods: {
            importselectchange(e){
                this.postdata = e;
            },
            OKpost(){
                this.$emit('update:show',false);
                this.$emit('postdata',this.postdata);

            },
            handleClose() {

            }
        }
    }
</script>

<style lang="scss" scoped>
</style>