<template>
  <div class="app-container checkmanage">
    <el-form ref="queryForm" :inline="true" label-width="100px">
      <el-form-item label="捐赠日期">
        <el-date-picker v-model="dateRange" size="small" style="width: 240px" value-format="yyyy-MM-dd"
          type="daterange" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
      </el-form-item>
      <el-form-item label="捐赠单号" label-width="100px">
        <el-input v-model="submitData.billCode" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="公告标题" label-width="100px">
        <el-input v-model="submitData.title" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="捐赠团体身份" label-width="100px">
          <el-select v-model="submitData.persentType" placeholder="捐赠团体身份" clearable size="small" style="width: 240px">
              <el-option v-for="item in donateWhat" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
      </el-form-item>
      <el-form-item label="捐赠团体名称" label-width="100px">
        <el-input v-model="submitData.persentComp" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="反馈结果" label-width="100px">
        <el-select v-model="submitData.backFlag" placeholder="反馈结果" clearable size="small" style="width: 240px">
          <el-option v-for="item in donationStates" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="query">
          查询</el-button>
      </el-form-item>
    </el-form>

    <!-- <el-row :gutter="10" class="mb8">
      <el-col :offset="20" :span="1.5">
        <el-button type="primary" size="mini">
          确认</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button size="mini" :disabled="multiple">暂不需要
        </el-button>
      </el-col>
    </el-row> -->

    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark" style="width: 100%"
      @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
      </el-table-column>
      <el-table-column prop="creatDate" label="捐赠日期" show-overflow-tooltip width="150">
        <template slot-scope="{row}">
            {{parseTime(row.creatDate) }}
        </template>
      </el-table-column>
      <el-table-column label="捐赠单号" width="150px">
        <template slot-scope="{row}">
          <span style="color:#1890ff;" @click="donationDetail(row)">{{ row.billCode }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="title" label="对应公告标题" show-overflow-tooltip>
      </el-table-column>

      <!-- <el-table-column prop="" label="公告审核人" show-overflow-tooltip>
      </el-table-column> -->
      <el-table-column label="捐赠团体身份" show-overflow-tooltip>
          <template slot-scope="{row}">
              <span>{{ row.persentType == 1 ? '个人' : '企业' }}</span>
            </template>
      </el-table-column>
      <el-table-column prop="persentComp" label="捐赠企业名称" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="persentUser" label="捐赠人姓名" show-overflow-tooltip>
          </el-table-column>
      <el-table-column label="捐赠方式" show-overflow-tooltip>
          <template slot-scope="{row}">
              <span>{{ row.sendFlag == 1 ? '邮寄' : '个人送达' }}</span>
            </template>
      </el-table-column>
      <el-table-column prop="persentTel" label="捐赠人电话" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="backFlag" label="反馈结果" show-overflow-tooltip>
      </el-table-column>
      <el-table-column align="center" label="反馈消息" show-overflow-tooltip>
        <template slot-scope="{row}">
          <span>{{ row.backInfo }}</span>
        </template>
      </el-table-column>
    </el-table>
    <donatebill-detail :show.sync="showup" :submitData="submitDataprop" :picData="submitDatatable" :ZFpic="ZFpic"></donatebill-detail>
  </div>
</template>

<script>
  import DonatebillDetail from '@/components/DonatebillDetail'
  import { getDonate,getDonateDetail} from '@/api/viewhigh/donate'
  export default {
    name: 'outmanage',
    data() {
      return {
        dateRange:[],
        donationStates: [
          {value: 0, label: "未处理"},
          { value: 1, label: "需要" },
          { value: 2, label: "不需要" },
        ],
        donateWhat:[
          { value: 1, label: "个人" },
          { value: 2, label: "企业" },
        ],
        submitData: {
        },
        multiple: true,
        tableData: [],
        showup:false,
        submitDataprop:{},
        submitDatatable:[],
        ZFpic:[]
      }
    },
    components: { DonatebillDetail },
    methods: {
      query(){
        getDonate( this.addDateRange(this.submitData,this.dateRange)).then(res =>{
          if(res.code == 200){
            this.tableData = res.rows
          }
          console.log(res)
        })
      },
      donationDetail(row) {
        getDonateDetail(row.billId).then(res =>{
          if(res.code == 200){
            this.ZFpic = [res.data.mateSaasPersent.pictUrlZm,res.data.mateSaasPersent.pictUrlFm]
            this.submitDataprop = res.data.mateSaasPersent;
            this.submitDataprop.creatDate = this.parseTime(res.data.mateSaasPersent.creatDate);
            this.submitDatatable = res.data.mateSaasPersentInvList.map(val =>{
              if(val.invPicUrl == '' || val.invPicUrl == null){
                return Object.assign(val,{newpic:[]})
              }else{
                let gorun = val.invPicUrl.split(',');
                gorun = gorun.filter(a => a)
                return Object.assign(val,{newpic:gorun})
              }            
            })
          }
          console.log(res)
        })
        this.showup = true
      },
      handleSelectionChange(selection) {

      },
    }
  }
</script>
<style scoped>
  .barCode {
    height: 30px;
    line-height: 30px;
    position: relative;
    padding-left: 10px;
    padding-bottom: 40px;
  }

  .barCode::before {
    content: '';
    height: 20px;
    width: 5px;
    background: #1890ff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 5px;
  }
</style>