<template>
  <div class="app-container">
    <el-row>
      <el-form size="small" :inline="true" :model="orderCondition" class="demo-form-inline">
        <el-form-item label="订单日期">
          <el-date-picker v-model="orderCondition.orderDate" size="small" style="width: 240px" value-format="yyyy-MM-dd"
            type="daterange" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
        </el-form-item>
        <el-form-item label="订单号">
          <el-input v-model="orderCondition.billCode" placeholder=""></el-input>
        </el-form-item>
        <el-form-item width="120" label="订单状态">
          <el-select v-model="orderCondition.state" placeholder="请选择">
            <el-option label="新建" value="0"></el-option>
            <el-option label="提交" value="10"></el-option>
            <el-option label="审核中" value="20"></el-option>
            <el-option label="审核" value="30"></el-option>
            <el-option label="供应商确认" value="31"></el-option>
            <el-option label="执行完毕" value="40"></el-option>
            <el-option label="中止" value="50"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="仓库">
          <el-input v-model="orderCondition.storeId" placeholder=""></el-input>
        </el-form-item>
        <!-- <el-form-item>
          <el-button type="primary" icon="el-icon-search" @click="searchOrder">查询</el-button>
        </el-form-item> -->
      </el-form>
    </el-row>
    <el-row>
      <el-col :offset="22">
        <el-button type="primary" size="small" icon="el-icon-search" @click="searchOrder">查询</el-button>
      </el-col>
    </el-row>

    <el-row :gutter="10" class="mb8 floatr" style="margin-top:20px">
        <span class="tablename">共查询到{{resultNum}}条</span>
        
        <el-button class="btnleft" size="mini" @click="deleteOrder"
          v-hasPermi="['system:config:remove']">删除</el-button>
        <el-button class="btnleft" type="success" size="mini" @click="dialogVisible = true">
          新增</el-button>
    </el-row>
    <el-row style="margin-top:10px">
      <el-table
        :data="tableData"
        border
        @selection-change="handleSelectionChange"
        style="width: 100%">
        <el-table-column
          fixed
          type="selection"
          width="50">
        </el-table-column>
        <el-table-column
          label="订单日期"
          width="120">
          <template slot-scope="scope">{{ scope.row.orderDate }}</template>
        </el-table-column>
        <el-table-column
          prop="orderState"
          label="订单状态"
          width="120">
        </el-table-column>
        <el-table-column
          prop="store"
          label="仓库"
          width="120">
        </el-table-column>
        <el-table-column
          prop="region"
          label="订单广播区域"
          width="300">
        </el-table-column>
        <el-table-column
          prop="comment"
          label="备注"
          width="120">
        </el-table-column>
        <el-table-column
          prop="createUser"
          label="制单人"
          width="120">
        </el-table-column>
        <el-table-column
          prop="createDate"
          label="制单日期"
          width="120">
        </el-table-column>
        <el-table-column
          prop="sender"
          label="发送人"
          width="120">
        </el-table-column>
        <el-table-column
          prop="sendDate"
          label="发送日期"
          width="120">
        </el-table-column>
      </el-table>
    </el-row>  

    <el-dialog :modal=false :visible.sync="dialogVisible" fullscreen=true :before-close="handleClose" >
      <el-row :gutter="10" class="mb8 floatr" style="margin-top:20px">
        <span class="tablename">编辑</span>
      </el-row>
      <el-row style="margin-top:50px">
        <el-form :inline="true" :model="orderInfo" class="demo-form-inline">
          <el-form-item label="订单类型">
            <el-input v-model="orderCondition.orderNo" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="仓库">
            <el-select v-model="orderCondition.orderState">
              <el-option
              v-for="item in storeList"
              :key="item.storeCode"
              :label="item.storeName"
              :value="item.storeCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="送货地址">
            <el-input v-model="orderCondition.orderNo" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="订单广播区域">
            <el-input v-model="orderCondition.store" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="备注">
            <el-input v-model="orderCondition.store" placeholder=""></el-input>
          </el-form-item>
        </el-form>
      </el-row>
      <el-row :gutter="10" class="mb8 floatr" style="margin-top:20px">
        <el-button class="btnleft" size="mini" @click="deleteMaterial"
          v-hasPermi="['system:config:remove']">删除</el-button>
        <el-button class="btnleft" type="primary" size="mini" @click="addMaterial">
          增行</el-button>
      </el-row>
      <el-row>
        <el-table
          :data="tableData1"
          border
          @selection-change="handleSelectionChange1"
          style="width: 100%">
          <el-table-column
            fixed
            type="selection"
            width="50">
          </el-table-column>
          <el-table-column align="center" label="物资名称" width="800">
            <template slot-scope="{row}">
              <!-- <template v-if="row.edit"> -->
                <el-input v-model="row.materialName" class="edit-input" size="mini" />
              <!-- </template>
              <span v-else>{{ row.materialName }}</span> -->
            </template>
          </el-table-column>
          <el-table-column align="center" label="物资数量">
            <template slot-scope="{row}">
              <!-- <template v-if="row.edit"> -->
                <el-input v-model="row.materialNum" class="edit-input" size="mini" />
              <!-- </template>
              <span v-else>{{ row.materialNum }}</span> -->
            </template>
          </el-table-column> 
           <el-table-column>
          </el-table-column>     
        </el-table>
      </el-row>   
    </el-dialog>
  </div>  
</template>
  
  <script>
   import {queryPurcOrder, syncOrderToGYB, deleteOrder, viewOrder, viewOrderDetail, addOrder ,getStoreList} from '@/api/viewhigh/purcManage'
  export default {
    name: 'order',
    data() {
      return {
        dialogVisible:false,
        orderCondition:{},
        orderInfo:{},
        resultNum:0,
        tableData: [],
        tableData1: [],
        multipleSelection: [],
        multipleSelection1: [],
        storeList:[],
        totalShow:false
      }
    },
    watch: {
      totalShow : function () {
        console.log("totalShow--" +tableData1.length  )
        if (tableData1.length > 0) {
          var totalMaterialNum = 0
          for (var it in this.tableData1) {
            totalMaterialNum +=it.materialNum
          }
          this.tableData1.push({materialName:'合计',materialNum:totalMaterialNum})
        }
      }
    },
    mounted() {    
      getStoreList().then(res =>{
          if(res.code == 200){
            this.storeList = res.data
          } else {
            this.$message.error('仓库列表拉取失败')
          }
        })
    },
    methods: {
      searchOrder () {
        let param = JSON.stringify(this.orderCondition)
        queryPurcOrder(param).then(res =>{
          if(res.code == 200){
            this.tableData = res.rows
            this.resultNum = res.total
          } else {
            this.$message.error('接口查询失败')
          }
        })
      },
      deleteOrder () {
        this.$confirm('确定删除?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(res => {
        if (res !== 'confirm') return
        let billBids = JSON.stringify(this.multipleSelection)
        deleteOrder(billBids).then(
          res => {
            if (res.success) {
              this.$message.success('操作成功')
            } else {
              this.$message.error('操作失败')
            }
          },
          res => {
            this.$message.error('操作超时')
          }
        )
      })
      },
      sendOrder () {

      },
      addMaterial () {
        this.tableData1.push({materialName:'',materialNum:0})
        var totalMaterialNum = 0
        for (var it in this.tableData1) {
          totalMaterialNum +=it.materialNum
        }
        this.tableData1.push({materialName:'合计',materialNum:totalMaterialNum})
      },
      deleteMaterial () {
        for (var i=0;i<this.multipleSelection1.length;i++){
          var index = this.tableData1.indexOf(this.multipleSelection1[i])
          if (index !== -1) {
            this.tableData1.splice(index, 1)
          } 
        }

        if (tableData1.length > 0) {
          var totalMaterialNum = 0
          for (var it in this.tableData1) {
            totalMaterialNum +=it.materialNum
          }
          this.tableData1.push({materialName:'合计',materialNum:totalMaterialNum})
        }
        
        // this.tableData1.remove
      },
      handleClose () {},
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      handleSelectionChange1(val) {

        this.multipleSelection1 = val;
      }
    }
  }
  </script>
  
  <style lang="scss" scoped>
  .floatr{text-align:right}
  .tablename{position:absolute;left:0;top:0;height:14px;line-height:14px;font-size:14px;border-left:4px solid #409EFF;padding-left:5px;}
  .btnleft{margin-left:5px!important;}
  </style>
  