<template>
  <div class="app-container checkmanage">
    <el-form ref="queryForm" :inline="true" label-width="78px">
      <el-form-item label="制单日期">
        <el-date-picker v-model="submitData.createDate" size="small" style="width: 240px" value-format="yyyy-MM-dd"
          type="daterange" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
      </el-form-item>
      <el-form-item label="业务类型">
        <el-select v-model="submitData.busTypeId" placeholder="供货单位" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="出库仓库" prop="configKey">
        <el-select v-model="submitData.busTypeId" placeholder="仓库" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="制单人">
        <el-select v-model="submitData.createEmp" placeholder="制单人" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="submitData.state" placeholder="状态" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="出库单号">
        <el-input v-model="submitData.billCode" placeholder="出库单号" clearable size="small" style="width: 240px"
          @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
        <!-- <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button> -->
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="addnewDialog">
          新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-check" size="mini">
          审核</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="multiple" @click="handleDelete">删除
        </el-button>
      </el-col>
      <!-- <el-col :span="1.5">
        <el-button type="success" icon="el-icon-edit" size="mini" :disabled="single" @click="handleUpdate"
          v-hasPermi="['system:config:edit']">修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="warning" icon="el-icon-download" size="mini" @click="handleExport"
          v-hasPermi="['system:config:export']">导出</el-button>
      </el-col> -->
    </el-row>

    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark" style="width: 100%"
      @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
      </el-table-column>
      <el-table-column label="出库单号" width="180px">
        <template slot-scope="{row}">
          <span style="color:#1890ff;" @click="openDeatilsData(row)">{{ row.billCode }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="busTypeId" label="业务类型" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="createDate" label="制单日期" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="storeId" label="出库仓库" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="outOrgDept" label="领用科室" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="amountMoney" label="金额" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="createEmp" label="制单人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="stateName" label="状态" show-overflow-tooltip>
      </el-table-column>
      <!-- <el-table-column prop="confirm" label="仓管员" show-overflow-tooltip>
      </el-table-column> -->
    </el-table>

    <el-dialog title="材料出库单" :modal=false :visible.sync="dialogVisible" fullscreen=true :before-close="handleClose"
      @close="closeclean">
      <div @click.self="initdata" style="height: 100%;">
        <el-form ref="queryForm" :inline="true" label-width="78px">
          <el-form-item label="出库仓库">
            <el-select v-model="sqlData.storeId" placeholder="出库仓库" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <el-form-item label="业务类型">
            <el-select v-model="sqlData.busTypeId" placeholder="业务类型" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <el-form-item label="使用科室">
            <el-select v-model="sqlData.outOrgDept" placeholder="使用科室" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="领用人">
              <el-input v-model="submitData.billCode" placeholder="领用人" clearable size="small" style="width: 240px" />
          </el-form-item> -->
          <!-- <el-form-item label="制单日期">
            <el-date-picker v-model="sqlData.createDate" size="small" style="width: 240px" value-format="yyyy-MM-dd"
              start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
          </el-form-item>
          <el-form-item label="仓管员">
              <el-input v-model="submitData.billCode" placeholder="仓管员" clearable size="small" style="width: 240px" />
          </el-form-item> -->
        </el-form>
        <div class="barCode">
          <span>条码录入</span>
          <span style="padding-right: 20px;">厂商码SN</span>
          <el-input style="width:300px;" v-model="input" placeholder="请输入内容" size="mini"></el-input>
        </div>
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button type="primary" icon="el-icon-plus" size="mini" @click="importgoods">物资导入</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="multipler" @click="handleDeleter">删除
            </el-button>
          </el-col>
        </el-row>
        <el-table v-loading="listLoading" ref="aaa" :data="list" border fit highlight-current-row style="width: 100%" size="mini"
          @selection-change="listselectchange" @cell-click="handle">
          <el-table-column align="center" type="selection" width="55">
          </el-table-column>
          <el-table-column prop="createEmp" label="物资分类" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invCode" label="物资编码" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invName" label="物资名称" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invSepc" label="规格" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invModel" label="型号" show-overflow-tooltip>
          </el-table-column>
          <!-- <el-table-column prop="createEmp" label="品牌" show-overflow-tooltip>
          </el-table-column> -->
          <el-table-column prop="unitName" label="计量单位" show-overflow-tooltip>
          </el-table-column>
          <!-- <el-table-column prop="createEmp" label="库存" show-overflow-tooltip>
          </el-table-column> -->
          <el-table-column prop="canUseAmount" label="即时库存" show-overflow-tooltip>
          </el-table-column>
          <el-table-column label="数量" show-overflow-tooltip>
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.amount" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.amount }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="price" label="单价" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="amountMoney" label="金额" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="batchNo" label="批号" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invaDate" label="有效期" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="factoryCodePn" label="厂商SN" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="productAddr" label="产地" show-overflow-tooltip>
          </el-table-column>
        </el-table>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="suboutData">确 定</el-button>
        </span>
      </div>
    </el-dialog>
    <import-goods :show.sync="importvisible" :importdata="importdata" @postdata="getpostdata"></import-goods>
  </div>
</template>

<script>
  import ImportGoods from '@/components/ImportGoods';
  import { saveOutGoods, getGoodsforImport, getOutGoodsList, deleteOutBill, getDetailsGoodsList, deleteDetails } from '@/api/viewhigh/outmanage'
  export default {
    name: 'outmanage',
    data() {
      return {
        importvisible: false,
        submitData: {
          "createDate": '',
          "busTypeId": '',
          "storeId": '',
          "createEmp": '',
          "state": '',
          "billCode": ''
        },
        sqlData: {
          "billId": "",
          "compCode": "",
          "billCode": "",
          "storeId": "",
          "busTypeId": "",
          "outOrgDept": ""

        },
        multiple: true,
        multipler: true,
        dialogVisible: false,
        tableData: [],
        multipleSelection: [],
        importdata: [],
        list: [],
        idx: [],
        ids: []

      }
    },
    components: { ImportGoods },
    methods: {
      handleDeleter() {
        let subVal = this.ids.map(val => {
          return val.billBid
        })
        deleteDetails(subVal).then(res => {
          if (res.code == 200) {
            let newList = JSON.parse(JSON.stringify(this.list))
            this.ids.forEach(val => {
              newList.splice(val.index, 1)
            })
            this.list = newList
          }
        })

      },
      listselectchange(pa) {
        this.ids = pa;
        this.multipler = !pa.length;
      },
      closeclean() {
        this.sqlData.billId = '';
        this.sqlData.compCode = '';
        this.sqlData.billCode = ''
      },
      handle(row, col, cell, eve) {
        console.log(eve)
        this.list.forEach(val => {
          val.edit = false
        })
        row.edit = true
      },
      openDeatilsData(row) {
        this.dialogVisible = true;
        getDetailsGoodsList(row.billId).then(res => {
          this.list = res.data.mateSaasWhrOutLineList
        })
        this.sqlData.billId = row.billId;
        this.sqlData.compCode = row.compCode;
        this.sqlData.billCode = row.billCode
      },
      handleDelete() {
        let arrId = this.idx.map(val => {
          return val.billId
        })
        //arrId = JSON.stringify(arrId)
        deleteOutBill(arrId).then(res => {
          if (res.code == 200) {
            this.handleQuery()
          }
        })
      },
      suboutData() {
        let params = { "mateSaasWhrOutHead": this.sqlData, "mateSaasWhrOutLineList": this.list }
        saveOutGoods(params).then(res => {
          if (res.code == 200) {
            this.dialogVisible = false;
            this.handleQuery()
          }
        })

      },
      addnewDialog() {
        this.list = [];
        this.dialogVisible = true
      },
      getpostdata(val) {
        this.list = val
      },
      importgoods() {
        getGoodsforImport().then(res => {
          this.importdata = res.rows
        })
        this.importvisible = true;
      },
      handleSelectionChange(selection) {
        this.idx = selection
        this.multiple = !selection.length
      },
      handleQuery() {
        getOutGoodsList().then(res => {
          if (res.code == 200) {
            this.tableData = res.rows
          }
        })

      },
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => { });
      },
      handle(row, col, cell, eve) {
        this.list.forEach(val => {
          val.edit = false
        })
        console.log(eve)
        row.edit = true
      },
      initdata() {
        let newList = this.list.map(val => {
          val.edit = false
          return val
        })
        this.list = JSON.parse( JSON.stringify(newList) ) 
      }
    }
  }
</script>
<style scoped>
  .barCode {
    height: 30px;
    line-height: 30px;
    position: relative;
    padding-left: 10px;
    padding-bottom: 40px;
  }

  .barCode::before {
    content: '';
    height: 20px;
    width: 5px;
    background: #1890ff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 5px;
  }
</style>