<template>
  <div class="login">
    <div class="loginbj">
      <div class="biaoy"></div>
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form">
      <div class="title"></div>
      <div class="dengllist">
        <span :class="activeIndex == 1 ? 'active':''" @click="clickdl(1)">登录</span>
        <span :class="activeIndex == 2 ? 'active':''" @click="clickdl(2)">注册</span>
      </div>
      <div class="dengl" :style="{display:(activeIndex == 1?'block':'none')}">
          <el-form-item prop="username">
        <el-input v-model="loginForm.username" type="text" auto-complete="off" placeholder="账号">
          <svg-icon slot="prefix" icon-class="user" class="el-input__icon input-icon" />
        </el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input
          v-model="loginForm.password"
          type="password"
          auto-complete="off"
          placeholder="密码"
          @keyup.enter.native="handleLogin"
        >
          <svg-icon slot="prefix" icon-class="password" class="el-input__icon input-icon" />
        </el-input>
      </el-form-item>
      <!-- <el-form-item prop="code">
        <el-input
          v-model="loginForm.code"
          auto-complete="off"
          placeholder="验证码"
          style="width: 63%"
          @keyup.enter.native="handleLogin"
        >
          <svg-icon slot="prefix" icon-class="validCode" class="el-input__icon input-icon" />
        </el-input>
        <div class="login-code">
          <img :src="codeUrl" @click="getCode" />
        </div>
      </el-form-item> -->
      <el-checkbox v-model="loginForm.rememberMe" style="margin:0px 0px 25px 0px;">记住密码</el-checkbox>
      <el-form-item style="width:100%;margin-top:16px">
        <el-button
          :loading="loading"
          size="medium"
          type="primary"
          style="width:100%;"
          @click.native.prevent="handleLogin"
        >
          <span v-if="!loading">登 录</span>
          <span v-else>登 录 中...</span>
        </el-button>
      </el-form-item>
      </div>
      <div class="zhuc" :style="{display:(activeIndex == 2?'block':'none')}">
        <img src="../assets/image/wechat.png"/>
        <p>手机扫码注册成功后再点击登录！</p>
      </div>
      
    </el-form>
    <!--  底部  -->
    <div class="el-login-footer">
      <span>Copyright © 2019-2020 viewhigh.vip All Rights Reserved.</span>
    </div>
    </div>
  </div>
</template>

<script>
import Cookies from "js-cookie";
import { encrypt, decrypt } from '@/utils/jsencrypt'

export default {
  name: "Login",
  data() {
    return {
      activeIndex:1,
      codeUrl: "",
      cookiePassword: "",
      loginForm: {
        username: "",
        password: "",
        rememberMe: false,
        code: "",
        uuid: ""
      },
      loginRules: {
        username: [
          { required: true, trigger: "blur", message: "用户名不能为空" }
        ],
        password: [
          { required: true, trigger: "blur", message: "密码不能为空" }
        ],
      },
      loading: false,
      redirect: undefined
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true
    }
  },
  created() {
    this.getCookie();
  },
  methods: {
    clickdl(index) {
      this.activeIndex = index;
    },
    getCookie() {
      const username = Cookies.get("username");
      const password = Cookies.get("password");
      const rememberMe = Cookies.get('rememberMe')
      this.loginForm = {
        username: username === undefined ? this.loginForm.username : username,
        password: password === undefined ? this.loginForm.password : decrypt(password),
        rememberMe: rememberMe === undefined ? false : Boolean(rememberMe)
      };
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true;
          if (this.loginForm.rememberMe) {
            Cookies.set("username", this.loginForm.username, { expires: 30 });
            Cookies.set("password", encrypt(this.loginForm.password), { expires: 30 });
            Cookies.set('rememberMe', this.loginForm.rememberMe, { expires: 30 });
          } else {
            Cookies.remove("username");
            Cookies.remove("password");
            Cookies.remove('rememberMe');
          }
          this.$store
            .dispatch("Login", this.loginForm)
            .then(() => {
              this.loading = false;
              //this.$router.push({ path: this.redirect || "/" });
              this.$router.push({path: "/"});
            })
            .catch(() => {
              this.loading = false;
            });
        }
      });
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss">
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../assets/image/login-background.jpg");
  background-size: 100% 100%;
}
.loginbj{width:100%;height:100%;position:relative}
.zhuc{text-align:center;}
.zhuc  img{
  width:180px;
  height:180px;
}
.zhuc p{margin-top:23px; padding-bottom: 25px;color:#4486F6;font-size:14px;}
.title {
  width:274px;
  height:23px;
  background-image: url("../assets/image/Logo.jpg");
  background-size: 100% 100%;
  margin-bottom:19px;
}
.dengllist{height:32px;margin-bottom: 20px;}
.dengllist span{
    font-size: 14px;
    display: block;
    width: 50%;
    float: left;
    height: 29px;
    line-height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e8e8e8;
    font-weight: 400;
    text-align: center;
    cursor:pointer;
    font-family: PingFangSC-Regular,PingFang SC;
}
.dengllist span.active{
  border-bottom:2px solid #4486F6;
  color:rgba(68,134,246,1);
  font-weight: 500;
}
.login-form {
      position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0,-50%);
  border-radius: 6px;
  background: #ffffff;
  width: 350px;
  height:362px;
  padding: 25px 25px 5px 25px;
  .el-input {
    height: 38px;
    input {
      height: 38px;
    }
  }
  .input-icon {
    height: 39px;
    width: 14px;
    margin-left: 2px;
  }
}
.biaoy{width:60%;height:27%;background-image: url("../assets/image/biaoyu.png");
  background-size: 100% 100%;position:absolute;    left: 50px;
    top: 50%;
    transform: translate(0,-50%);}
.login-tip {
  font-size: 13px;
  text-align: center;
  color: #bfbfbf;
}
.login-code {
  width: 33%;
  height: 38px;
  float: right;
  img {
    cursor: pointer;
    vertical-align: middle;
  }
}
.el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	box-shadow: 0 0 0 1000px white inset; // 背景设为白色
	-webkit-text-fill-color: #000000; // 字体颜色
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 0 1000px white inset; // 获得焦点时背景设为白色
	-webkit-text-fill-color: #000000; // 字体颜色
}
</style>
