<template>
  <div>
    <el-dialog title="捐赠详情" :visible.sync="visible" @close="$emit('update:show', false)" fullscreen>
      <el-form ref="queryForm" :inline="true" label-width="128px">
        <el-row>
          <el-col :span="8">
            <el-form-item label="捐赠单号">
              <el-input style="width: 240px" disabled v-model="submitData.billCode" clearable size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="捐赠团体名单">
              <el-input style="width: 240px" disabled v-model="submitData.persentComp" clearable size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="捐赠日期">
              <el-input style="width: 240px" disabled v-model="submitData.creatDate" clearable size="small" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="捐赠团体身份">
              <el-input style="width: 240px" disabled v-model="submitData.persentType == 1 ? '个人':'企业'" clearable
                size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="捐赠人姓名">
              <el-input style="width: 240px" disabled v-model="submitData.persentUser" clearable size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="捐赠人电话">
              <el-input style="width: 240px" disabled v-model="submitData.persentTel" clearable size="small" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="捐赠方式">
              <el-input style="width: 240px" disabled v-model="submitData.sendFlag == 1 ? '邮寄':'个人送达'" clearable
                size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="物流联系人姓名">
              <el-input style="width: 240px" disabled v-model="submitData.sendUser" clearable size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="物流联系人电话">
              <el-input style="width: 240px" disabled v-model="submitData.sendTel" clearable size="small" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="预计送达时间">
              <el-input style="width: 240px" disabled v-model="submitData.expeArviDate" clearable size="small" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="捐赠地址">
              <el-input style="width: 240px" disabled v-model="submitData.sendAddress" clearable size="small" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div>
        <h5>物资清单</h5>
        <div class="t-right">
          <el-table :data="picData" border style="width: 100%;">
            <el-table-column prop="invName" label="名称和规格型号" width="200">
            </el-table-column>
            <el-table-column prop="invAmount" label="数量" width="180">
            </el-table-column>
            <el-table-column prop="unitName" label="单位" width="50">
            </el-table-column>
            <!-- <el-table-column prop="invPicUrl" label="图片附件">
            </el-table-column> -->
            <el-table-column prop="newpic" label="图片附件">
              <template slot-scope="{row}">
                <div class="block" v-for="item in row.newpic" style="float: left; margin-left: 5px;">
                  <el-image :preview-src-list="row.newpic" :fit="fill" shape="square" style="width: 50px; height: 50px"
                    :src="item">
                    <div slot="error" class="image-slot"
                      style="font-size: 12px; line-height: 50px; background: #f0f0f0;">
                      加载失败
                    </div>
                  </el-image>
                </div>
              </template>
            </el-table-column>

          </el-table>
        </div>

      </div>
      <div style="padding-top: 20px;">
        <h5>捐赠团体证件</h5>
        <div class="t-right">
          <el-image style="width: 100px; height: 100px" src="submitData.pictUrlZm" :preview-src-list="ZFpic"></el-image>
          <el-image style="width: 100px; height: 100px" src="submitData.pictUrlFm" :preview-src-list="ZFpic"></el-image>
        </div>
      </div>
      <span slot="footer" class="dialog-footer-middle">
        <el-button @click="cancelDialog">取消</el-button>
        <el-button @click="cancel">确认不需要</el-button>
        <el-button type="primary" @click="comfirm">确认需要</el-button>
      </span>
    </el-dialog>
    <el-dialog title="确定" :visible.sync="comfirmVisible">
      <el-form :model="comfirmData" :rules="rules" ref="ruleForm">
        <el-form-item label="邮寄地址" :label-width="formLabelWidth" prop="sendAddress">
          <el-input v-model="comfirmData.sendAddress" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="收件人" :label-width="formLabelWidth" prop="receiveUser">
          <el-input v-model="comfirmData.receiveUser" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="收件人电话" :label-width="formLabelWidth" prop="receiveTel">
          <el-input v-model="comfirmData.receiveTel" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="反馈信息" :label-width="formLabelWidth" prop="backInfo">
          <el-input v-model="comfirmData.backInfo" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item style="text-align: right;margin-bottom: 0;">
          <el-button @click="comfirmVisible = false">取 消</el-button>
          <el-button type="primary" @click="comfirmBtn('ruleForm')">确 定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <el-dialog title="取消" :visible.sync="nopayVisible" height="200px">
      <div style="height: 200px;">
        <h5 style="width: 80px;">原因说明</h5>
        <div class="t-right">
          <el-input v-model="cancelData.backInfo" rows="5" type="textarea"></el-input>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="nopayVisible = false">取 消</el-button>
        <el-button type="primary" @click="nopayBtn">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import { comfireForm, cancelForm } from '@/api/viewhigh/donate'
  export default {
    data() {
      return {
        form: {},
        nopayVisible: false,
        comfirmVisible: false,
        formLabelWidth: '120px',
        visible: this.show,
        comfirmData: {
          sendAddress: '',
          receiveUser: '',
          receiveTel: '',
          backInfo: ''
        },
        cancelData: {
          backInfo: ''
        },
        fill: 'cover',
        rules: {
          sendAddress: [
            { required: true, trigger: "blur", message: "用户名不能为空" },
          ],
          receiveUser: [
            { required: true, trigger: "blur", message: "收件人不能为空" },
          ],
          receiveTel: [
            { required: true, trigger: "blur", message: "收件人电话不能为空" },
          ],
          backInfo: [
            { required: true, trigger: "blur", message: "反馈信息不能为空" },
          ]
        }
      };
    },
    props: {
      show: {
        type: Boolean,
        default: false
      },
      submitData: {
        type: Object,
        default: {}
      },
      picData: {
        type: Array,
        default: []
      },
      ZFpic: {
        type: Array,
        default: []
      }
    },
    computed: {

    },
    methods: {
      nopayBtn() {
        this.cancelData.billId = this.submitData.billId
        cancelForm(this.cancelData).then(res => {
          if (res.code == 200) {
            this.nopayVisible = false
          }
        })
      },
      comfirmBtn(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.comfirmData.billId = this.submitData.billId
            comfireForm(this.comfirmData).then(res => {
              if (res.code == 200) {
                this.comfirmVisible = false
              }
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      cancelDialog() {
        this.visible = false
      },
      cancel() {
        this.nopayVisible = true
      },
      comfirm() {
        this.comfirmVisible = true;
        this.comfirmData = {
          sendAddress: '',
          receiveUser: '',
          receiveTel: '',
          backInfo: ''
        }

      },
    },
    watch: {
      show() {
        this.visible = this.show;
      }
    }
  };
</script>
<style scoped>
  h5 {
    float: left;
    width: 128px;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    color: #606266;
  }

  .t-right {
    float: left;
    width: calc(100% - 128px);
    padding-bottom: 20px;
  }

  .dialog-footer-middle {
    float: left;
    margin-left: 50%;
    transform: translateX(-80px);
  }
</style>