<template>
  <div class="app-container">
    <el-form ref="queryForm" :inline="true" label-width="78px">
      <el-form-item label="仓库" prop="configName">
        <el-input placeholder="" clearable size="small" style="width: 240px" @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
        <!-- <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button> -->
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8 floatr">
      <el-button class="btnleft" type="primary" size="mini" @click="dialogVisible = true">
        新增</el-button>
      <el-button class="btnleft" type="primary" size="mini" @click="handleDelete" v-hasPermi="['system:config:remove']">
        删除</el-button>
    </el-row>
    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark"
      style="width: 100%;margin-bottom: 50px;" @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
        </el-table-column>
        <el-table-column label="仓库编码" show-overflow-tooltip>
          <template slot-scope="{row}">
            <span @click="openBillData(row)">{{ row.billCode }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="amountMoney" label="仓库名称" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="管理科室" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="amountMoney" label="负责人" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="联系电话" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="amountMoney" label="仓库地址" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="验收负责人" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="amountMoney" label="是否停用" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="上级编码" show-overflow-tooltip>
        </el-table-column>
    </el-table>
    <el-dialog title="新增" :modal=false :visible.sync="dialogVisible" fullscreen=true :before-close="handleClose">

      <el-form ref="queryForm" :inline="true" label-width="120px">
        <el-form-item label="仓库编码" prop="" required>
          <el-input placeholder="仓库编码" clearable size="small" style="width: 240px" />
        </el-form-item>
        <el-form-item label="仓库名称" prop="" required>
          <el-input placeholder="仓库名称" clearable size="small" style="width: 240px" />
        </el-form-item>
        <el-form-item label="管理科室" prop="" required>
          <el-input placeholder="管理科室" clearable size="small" style="width: 240px" />
        </el-form-item>
        <el-form-item label="负责人" prop="" required>
          <el-input placeholder="负责人" clearable size="small" style="width: 250px" />
        </el-form-item>
        <el-form-item label="联系电话" prop="" required>
          <el-input placeholder="联系电话" clearable size="small" style="width: 240px" />
        </el-form-item>
        <el-form-item label="仓库地址" prop="" required>
          <el-input placeholder="仓库地址" clearable size="small" style="width: 240px" />
        </el-form-item>
        <el-form-item label="验收负责人" prop="" required>
          <el-input placeholder="验收负责人" clearable size="small" style="width: 240px" />
        </el-form-item>
        <el-form-item label="是否停用" prop="" required>
          <el-select placeholder="" clearable size="small" style="width: 240px">
            <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
              :value="dict.dictValue" />
          </el-select>
        </el-form-item>
        <el-form-item label="上级编码" prop="" required>
          <el-select placeholder="" clearable size="small" style="width: 240px">
            <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
              :value="dict.dictValue" />
          </el-select>
        </el-form-item>


      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">保存</el-button>
      </span>

    </el-dialog>
  </div>
</template>

<script>

  export default {
    name: 'inventory1',
    data() {
      return {
        dialogVisible: false,
        tableData: []
      }
    },
    methods: {
    }
  }
</script>

<style>
  .floatr {
    text-align: right
  }

  .tablename {
    position: absolute;
    left: 0;
    top: 0;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    border-left: 4px solid #409EFF;
    padding-left: 5px;
  }

  .btnleft {
    margin-left: 5px !important;
  }
</style>