<template>
    <div class="shoptip">
        <donatebill-detail :show.sync="showup"></donatebill-detail>
        <!-- <el-button @click="open">click</el-button> -->
        <p>即将开通……</p>
        <p>详情咨询运营人员：18612691802 </p>
        
    </div>
</template>
 
<script>
    import DonatebillDetail from '@/components/DonatebillDetail'
 
    export default {
        data () {
            return {
              showup: false
            };
        },
        methods: {
            open () {
                this.showup = true;
            }
        },
        components: {
          DonatebillDetail
        }
    };
</script>
<style>
.shoptip{
    padding-left: 120px; padding-top: 80px;
}
.shoptip p{font-size:18px}
</style>