<template>
    <div class="showtip">
        <donatebill-detail :show.sync="showup"></donatebill-detail>
        <!-- <el-button @click="open">click</el-button> -->
        <p>本周内即将陆续开通，敬请关注！</p>
        
    </div>
</template>
 
<script>
    import DonatebillDetail from '@/components/DonatebillDetail'
 
    export default {
        data () {
            return {
              showup: false
            };
        },
        methods: {
            open () {
                this.showup = true;
            }
        },
        components: {
          DonatebillDetail
        }
    };
</script>
<style>
.showtip{
    padding-left: 120px; padding-top: 80px;
}
.showtip p{font-size:18px}
</style>