<template>
    <div class="app-container">
            <el-form :model="queryParams" ref="queryForm" :inline="true" label-width="68px">
                <el-form-item label="材料分类" prop="clfl">
                <el-select v-model="queryParams.clfl" placeholder="材料分类" clearable size="small">
                <el-option
                    v-for="dict in typeOptions"
                    :key="dict.dictValue"
                    :label="dict.dictLabel"
                    :value="dict.dictValue"
                />
                </el-select>
            </el-form-item>
            <el-form-item label="材料名称" prop="clmc">
        <el-input
          v-model="queryParams.clmc"
          placeholder="材料名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
                <el-form-item label="生产厂商" prop="sccs">
                <el-select v-model="queryParams.sccs" placeholder="生产厂商" clearable size="small">
                <el-option
                    v-for="dict in typeOptions"
                    :key="dict.dictValue"
                    :label="dict.dictLabel"
                    :value="dict.dictValue"
                />
                </el-select>
            </el-form-item>
            <el-form-item label="开始日期">
        <el-date-picker v-model="queryParams.date1" size="small" style="width: 190px" value-format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="截至日期">
        <el-date-picker v-model="queryParams.date2" size="small" style="width: 190px" value-format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="仓库名称" prop="ckmc">
                <el-select v-model="queryParams.ckmc" placeholder="仓库名称" clearable size="small">
                <el-option
                    v-for="dict in typeOptions"
                    :key="dict.dictValue"
                    :label="dict.dictLabel"
                    :value="dict.dictValue"
                />
                </el-select>
            </el-form-item>
            <el-form-item>
        <el-button type="primary" size="mini" @click="handleQuery">查询</el-button>
      </el-form-item>
            </el-form>
                <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
      @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55">
      </el-table-column>
      <el-table-column label="日期" width="120">
        <template slot-scope="scope">{{ scope.row.date }}</template>
      </el-table-column>
      <el-table-column prop="name" label="姓名" width="120">
      </el-table-column>
      <el-table-column prop="address" label="地址" show-overflow-tooltip>
      </el-table-column>
    </el-table>
    </div>
</template>

<script>

    export default {
        name: 'totalchart',
        data() {
            return {
                // 查询参数
                queryParams: {
                    pageNum: 1,
                    pageSize: 10,
                    clfl: undefined,
                    clmc: undefined,
                    sccs: undefined,
                    date1: undefined,
                    date2: undefined,
                    ckmc: undefined
                },
                typeOptions: [],
                tableData: [{
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-08',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-06',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-07',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }]
            }
        },
        methods: {

        }
    }
</script>

<style lang="scss" scoped>
</style>