<template>
    <div>
        <el-form ref="queryForm" :inline="true" label-width="96px">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="物资名称">
                        <el-input v-model="submitData.invName" placeholder="物资名称" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="原厂码">
                        <el-input v-model="submitData.outCode" placeholder="原厂码" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="型号">
                        <el-input v-model="submitData.invModel" placeholder="型号" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="规格">
                        <el-input v-model="submitData.invSepc" placeholder="规格" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="计量单位">
                        <el-input v-model="submitData.unitName" placeholder="计量单位" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="单价">
                        <el-input v-model="submitData.planPrice" placeholder="单价" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="生产厂商">
                        <el-input v-model="submitData.factoryCode" placeholder="生产厂商" clearable size="small" />
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="产地">
                        <el-input v-model="submitData.producingArea" placeholder="产地" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="注册证号">
                        <el-input v-model="submitData.certCode" placeholder="注册证号" clearable size="small" />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import { saveGoods } from '@/api/viewhigh/checkmanage'
    export default {
        name: 'addgoods',
        data() {
            return {
                submitData: {
                    "billBid": "",
                    "billId": "",
                    "invId": "",
                    "invCode": "",
                    "invName": "",
                    "invSepc": "",
                    "invModel": "",
                    "unitName": "",
                    "amount": "",
                    "price": "",
                    "amountMoney": "",
                    "batchNo": "",
                    "invaDate": "",
                    "disinfectDate": "",
                    "sn": "",
                    "barId": "",
                    "factoryCodePn": "",
                    "venId": "",
                    "venName": "",
                    "productAddr": ""
                }
            }
        },
        props: {
            val: {
                type: Boolean
            }
        },
        watch: {
            val(v) {
                if (!v) {
                    saveGoods(this.submitData).then(res => {
                        if (res.code == 200) {
                            this.$emit("getRowData", res.data)
                        }
                        console.log(res)
                    })
                } else {
                    this.submitData = {
                        "billBid": "",
                        "billId": "",
                        "invId": "",
                        "invCode": "",
                        "invName": "",
                        "invSepc": "",
                        "invModel": "",
                        "unitName": "",
                        "amount": "",
                        "price": "",
                        "amountMoney": "",
                        "batchNo": "",
                        "invaDate": "",
                        "disinfectDate": "",
                        "sn": "",
                        "barId": "",
                        "factoryCodePn": "",
                        "venId": "",
                        "venName": "",
                        "productAddr": ""
                    }
                }
            }
        },
        methods: {

        }
    }
</script>

<style lang="scss" scoped>
</style>