<template>
  <div class="app-container">
    <el-form ref="queryForm" :inline="true" label-width="78px">
      <el-form-item label="生产厂商" prop="configName">
        <el-input placeholder="" clearable size="small" style="width: 240px" @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
        <!-- <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button> -->
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8 floatr">
      <el-button class="btnleft" type="primary" size="mini" @click="dialogVisible = true">
        新增</el-button>
      <el-button class="btnleft" type="primary" size="mini" @click="handleDelete" v-hasPermi="['system:config:remove']">
        删除</el-button>
    </el-row>
    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark"
      style="width: 100%;margin-bottom: 50px;" @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
        </el-table-column>
        <el-table-column label="生产厂商编码" show-overflow-tooltip>
          <template slot-scope="{row}">
            <span @click="openBillData(row)">{{ row.billCode }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="amountMoney" label="生产厂商名称" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="邮箱" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="amountMoney" label="生产厂商地址" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="企业网址" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="amountMoney" label="法人代表" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="联系人" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="amountMoney" label="联系电话" show-overflow-tooltip>
        </el-table-column>
        <el-table-column prop="empCode" label="手机" show-overflow-tooltip>
        </el-table-column>
    </el-table>
    <el-dialog title="新增" :modal=false :visible.sync="dialogVisible" fullscreen=true :before-close="handleClose">

      <el-form ref="queryForm" :inline="true" label-width="120px">
        <el-form-item label="厂商编码" prop="" required>
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="厂商名称" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="企业网址" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="省" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="市" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="地址" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="邮政编码" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="法人" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="联系人" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="电话" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="手机" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="email" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>

        <el-form-item label="传真" prop="">
          <el-input placeholder="" clearable size="small" style="width: 240px" />
        </el-form-item>


      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">保存</el-button>
      </span>

    </el-dialog>
  </div>
</template>

<script>

  export default {
    name: 'vendor1',
    data() {
      return {
        dialogVisible: false,
        tableData: [{
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-07',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }]
      }
    },
    methods: {
    }
  }
</script>

<style>
  .floatr {
    text-align: right
  }

  .tablename {
    position: absolute;
    left: 0;
    top: 0;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    border-left: 4px solid #409EFF;
    padding-left: 5px;
  }

  .btnleft {
    margin-left: 5px !important;
  }
</style>