<template>
  <div class="app-container">
    <el-form ref="queryForm" :inline="true" label-width="88px">
      <el-form-item label="供应商编码">
        <el-input v-model="submitData.billCode" placeholder="供应商编码" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="供应商名称">
        <el-input v-model="submitData.billCode" placeholder="物资类别" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="addSqlData">
          新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="multiple" @click="handleDelete"
          v-hasPermi="['system:config:remove']">删除</el-button>
      </el-col>
    </el-row>
    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark"
      style="width: 100%;margin-bottom: 50px;" @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
      </el-table-column>
      <el-table-column label="供应商编码" show-overflow-tooltip>
        <template slot-scope="{row}">
          <span @click="openBillData(row)">{{ row.billCode }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="amountMoney" label="供应商名称" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="empCode" label="省" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="amountMoney" label="市" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="empCode" label="联系地址" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="amountMoney" label="负责人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="empCode" label="联系人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="amountMoney" label="联系电话" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="empCode" label="是否停用" show-overflow-tooltip>
      </el-table-column>
    </el-table>
    <el-dialog title="新增物资" :visible.sync="addVisible" width="90%" top="20px">
      <support-ship></support-ship>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="addVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import SupportShip from '@/components/SupportShip';
  export default {
    name: 'supplier',
    data() {
      return {
        multiple: false,
        addVisible: false,
        submitData: {},
        tableData: []
      }
    },
    components: { SupportShip },
    methods: {
      handleQuery() {

      },
      addSqlData() {
        this.addVisible = true;
      },
      handleSelectionChange() { }
    }
  }
</script>

<style lang="scss" scoped>
</style>