<template>
  <div class="app-container">
    <el-form ref="queryForm1" :inline="true" label-width="78px">
      <el-form-item label="创建日期">
        <el-date-picker
          v-model="dateRange"
          size="small"
          style="width: 240px"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="-"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        ></el-date-picker>
      </el-form-item>

      <el-form-item label="公告标题" prop="configName">
        <el-input
          v-model="submitData.title"
          placeholder="请输入公告标题"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
        <!-- <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button> -->
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8 floatr">
      <span class="tablename">操作</span>
      <el-button class="btnleft" type="primary" size="mini" @click="addHandle">新增</el-button>
      <el-button
        class="btnleft"
        size="mini"
        @click="handleDelete"
        :disabled="multiple"
      >删除</el-button>
      <el-button :disabled="multiple" class="btnleft" type="primary" size="mini" @click="sendHandle">发送</el-button>
    </el-row>
    <el-table
      v-loading="loading"
      ref="multipleTable"
      :data="tableData"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
      border
    >
      <el-table-column type="selection" width="55" :selectable='isDisabled'></el-table-column>
      <el-table-column label="公告类型" width="120">
        <template slot-scope="{row}"><span>{{row.typeId==1?'捐赠公告':'物资公告'}}</span></template>
      </el-table-column>
      <el-table-column label="公告标题" prop="name" show-overflow-tooltip>
        <template slot-scope="{row}">
          <span class="clickstyle" @click="handleUpdate(row)">{{ row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="maker" label="创建人" show-overflow-tooltip width="80px"></el-table-column>
      <el-table-column prop="createDate" label="创建日期" width="200" show-overflow-tooltip></el-table-column>
      <el-table-column prop="checker" label="发送人" show-overflow-tooltip width="80"></el-table-column>
      <el-table-column prop="checkDate" label="发送日期" width="200" show-overflow-tooltip></el-table-column>
      <el-table-column label="状态" width="120">
          <template slot-scope="{row}">{{row.stateName}}</template>
        </el-table-column>
    </el-table>
    <!--分页-->
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="submitData.pageNum"
      :limit.sync="submitData.pageSize"
      @pagination="getList"
    />
    <!-- 添加或修改对话框 -->
    <el-dialog
      :title="dialogTitle"
      :modal="false"
      :visible.sync="dialogVisible"
      fullscreen
      :before-close="handleClose"
    >
      <el-form ref="queryForm" :model="queryForm" :rules="rules" :inline="true" label-width="78px">
        <el-form-item label="公告类型" prop="typeId" required>
          <el-select v-model="queryForm.typeId" size="small" :disabled="true" style="width: 240px">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="公告标题" prop="title" required>
          <el-input
            placeholder
            v-model="queryForm.title"
            clearable
            size="small"
            style="width: 240px"
          />
        </el-form-item>
        <el-form-item label="创建人" prop="maker" v-show="isShow">
          <el-input
            placeholder="创建人"
            v-model="queryForm.maker"
            size="small"
            :disabled="true"
            style="width: 240px"
          />
        </el-form-item>
        <el-form-item label="公告内容" prop="bulletinContent" required style="width:100%">
          <el-input type="textarea" :maxLength=500 :autosize="{ minRows: 9, maxRows: 9}" v-model="queryForm.bulletinContent" style="width:900px;"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" :disabled="btnStatus" @click="submitForm">保存</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getGoodsList,
  updateAnnoAnnounce,
  deleteAnnoAnnounce,
  sendAnnoAnnounce,
  editAnnoAnnounce
} from "@/api/viewhigh/announce";
export default {
  name: "announce",
  data() {
    return {
      // 遮罩层
      loading: true,
      submitData: {
        title: "",
        pageNum: 1,
        pageSize: 10
      },
      dialogVisible: false,
      btnStatus:false,
      tableData: [],
      dialogTitle: "",
      // 日期范围
      dateRange: [],

      multipleSelection: [],

      // 表单校验
      rules: {
        typeId: [
          { required: true, message: "公告类型不能为空", trigger: "blur" }
        ],
        title: [
          { required: true, message: "公告标题不能为空", trigger: "blur" }
        ],
        /*
        maker: [
          { required: true, message: "创建人不能为空", trigger: "blur" }
        ],*/
        bulletinContent: [
          { required: true, message: "公告内容不能为空", trigger: "blur" }
        ]
      },
      queryForm: {}, //弹框中的form

      options: [
        {
          value: "1",
          label: "捐赠公告"
        },
        {
          value: "2",
          label: "物资公告"
        }
      ],
      dialogTitle: "",
      isShow: false,
      multiple: true,
      ids: [],
      // 总条数
      total: 0
    };
  },
  created() {
    this.getList();
  },
  methods: {
    isDisabled(row,index){
      if(row.stateName == '已发送'){
        //alert(999)
        return false
      }else{
        return true
      }
    },
    handleQuery() {
      this.submitData.pageNum = 1;
      this.getList();
    },

    getList() {
      this.loading = true;
      getGoodsList(this.addDateRange(this.submitData,this.dateRange)).then(res => {
        this.loading = false;
        //this.tableData = res.rows;
        this.total = res.total; // 总页数
        const lists = res.rows; // 后端返回数组
        this.tableData = lists.map(i => {
          let stateName = "";
          switch (i.state) {
            case 0:
              stateName = "新建";
              break;
            case 10:
              stateName = "提交";
              break;
            case 20:
              stateName = "审核未通过";
              break;
            case 30:
              stateName = "已发送";
              break;
            default:
              stateName = "";
              break;
          }

          this.$set(i, "statename", stateName);
          return i;
        });
        console.log(this.tableData);
      });
    },

    //选在table的复选框
    handleSelectionChange(selection) {
      this.ids = selection;
      this.multiple = !selection.length;
    },
    //新增
    addHandle() {
      this.btnStatus = false
      this.dialogVisible = true; //显示弹框
      this.dialogTitle = "新增公告"; 
      this.reset(); //表单重置
      this.queryForm.typeId = "1"; //默认选择第一条数据
      this.isShow = false; //不显示创建人
    },
    //修改
    handleUpdate(row) {
      this.reset(); //表单重置

      //已发送状态的公告， 不可编辑
      if (row.statename === '已发送') {
        this.btnStatus = true
      }

      const bulletinId = row.bulletinId;
      editAnnoAnnounce(bulletinId).then(response => {
        this.queryForm = response.data;
        this.dialogVisible = true;
        this.dialogTitle = "修改公告";
        this.queryForm.typeId = "1"; //默认选择第一条数据
        this.isShow = true; //显示创建人
      });
    },
    //删除
    handleDelete() {
      console.log(this.ids);
      let arrId = this.ids.map(val => {
        return val.bulletinId;
      });
      //arrId = JSON.stringify(arrId)
      deleteAnnoAnnounce(arrId).then(res => {
        if (res.code == 200) {
          this.handleQuery();
        }
      });
    },
    //发送 
    sendHandle(){
      let arrId = this.ids.map(val => {
        let obj = {
          bulletinId:val.bulletinId,
          state:30
        }
        return obj
      });
      sendAnnoAnnounce(arrId).then(res => {
        if (res.code == 200) {
          this.msgSuccess("发送成功");
          this.handleQuery();
        }
      });
    },


    // 表单重置
    reset() {
      this.dateRange = [];
      this.queryForm = {
        typeId: undefined,
        title: undefined,
        maker: undefined,
        bulletinContent: undefined
      };
      this.resetForm("queryForm");
      this.handleQuery();
    },

    //提交新增表单
    submitForm: function() {
      this.$refs["queryForm"].validate(valid => {
        if (valid) {
         let edit = this.queryForm.bulletinId ? true:false;
          updateAnnoAnnounce(this.queryForm,edit).then(response => {
            if (response.code === 200) {
              this.msgSuccess("修改成功");
              this.dialogVisible = false;
              this.getList();
            } else {
              this.msgError(response.msg);
            }
          });
        } else {
        }
      });
    },
    //关闭弹框
    handleClose(done) {
      this.dialogVisible = false;
      this.reset();
    }
  }
};
</script>
<style>
.floatr {
  text-align: right;
}
.tablename {
  position: absolute;
  left: 0;
  top: 0;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  border-left: 4px solid #409eff;
  padding-left: 5px;
}
.btnleft {
  margin-left: 5px !important;
}
.clickstyle{color:rgb(64, 158, 255);cursor:pointer;}
</style>