<template>
  <div class="app-container checkmanage">
    <el-form ref="queryForm" :inline="true" label-width="78px">
      <el-form-item label="制单日期">
        <el-date-picker v-model="submitData.createDate" size="small" style="width: 240px" value-format="yyyy-MM-dd"
          type="daterange" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
      </el-form-item>
      <el-form-item label="业务类型">
        <el-select v-model="submitData.busTypeId" placeholder="供货单位" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="仓库" prop="configKey">
        <el-select v-model="submitData.busTypeId" placeholder="仓库" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="供货单位">
        <el-select v-model="submitData.venId" placeholder="供货单位" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="入库单号">
        <el-input v-model="submitData.billCode" placeholder="入库单号" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="submitData.state" placeholder="状态" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item label="制单人">
        <el-select v-model="submitData.createEmp" placeholder="制单人" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <!-- <el-form-item label="验收人">
        <el-select placeholder="验收人" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item> -->
      <el-form-item label="确认人">
        <el-select v-model="submitData.confirm" placeholder="确认人" clearable size="small" style="width: 240px">
          <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
            :value="dict.dictValue" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
        <!-- <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button> -->
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="addSqlData">
          新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-check" size="mini">
          审核</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="multiple" @click="handleDelete"
          v-hasPermi="['system:config:remove']">删除</el-button>
      </el-col>
      <!-- <el-col :span="1.5">
        <el-button type="success" icon="el-icon-edit" size="mini" :disabled="single" @click="handleUpdate"
          v-hasPermi="['system:config:edit']">修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="warning" icon="el-icon-download" size="mini" @click="handleExport"
          v-hasPermi="['system:config:export']">导出</el-button>
      </el-col> -->
    </el-row>

    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark"
      style="width: 100%;margin-bottom: 50px;" @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
      </el-table-column>
      <el-table-column label="入库单号" width="180px">
        <template slot-scope="{row}">
          <span style="color:#1890ff" @click="openBillData(row)">{{ row.billCode }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="busTypeId" label="业务类型" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="createDate" label="制单日期" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="storeId" label="仓库" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="state" label="状态" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="venCode" label="供货单位编码" width="120px" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="venName" label="供货单位名称" width="120px" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="amountMoney" label="金额" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="empCode" label="采购员" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="createName" label="制单人" show-overflow-tooltip>
      </el-table-column>
      <!-- <el-table-column prop="confirm" label="验收人" show-overflow-tooltip>
      </el-table-column> -->
      <el-table-column prop="confirm" label="确认人" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="confDate" label="确认日期" show-overflow-tooltip>
      </el-table-column>
      <!-- <el-table-column prop="address" label="打印次数" show-overflow-tooltip>
      </el-table-column> -->
      <el-table-column prop="brief" label="摘要" show-overflow-tooltip>
      </el-table-column>
    </el-table>

    <el-dialog title="应急物资入库单" :modal=false :visible.sync="dialogVisible" fullscreen=true :before-close="handleClose"
      @close="closeclean">
      <div @click.self="initdata" style="height: 100%;">
        <el-form ref="queryForm" :inline="true" label-width="78px">
          <el-form-item label="制单日期">
            <el-date-picker v-model="sqlData.createDate" size="small" style="width: 240px" value-format="yyyy-MM-dd"
              start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
          </el-form-item>
          <el-form-item label="业务类型" prop="configName">
            <el-select v-model="sqlData.busTypeId" placeholder="业务类型" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <el-form-item label="仓库" prop="configKey">
            <el-select v-model="sqlData.storeId" placeholder="仓库" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <el-form-item label="采购员" prop="configType">
            <el-select v-model="sqlData.empCode" placeholder="采购员" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <el-form-item label="供货单位" prop="configType">
            <el-select v-model="sqlData.venId" ref="isblur" placeholder="供货单位" clearable size="small"
              style="width: 240px" @focus="getsupport">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="验收人" prop="configType">
            <el-select placeholder="验收人" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item> -->
          <el-form-item label="制单人" prop="configType">
            <el-select v-model="sqlData.createEmp" placeholder="制单人" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="状态" prop="configType">
            <el-select placeholder="状态" clearable size="small" style="width: 240px">
              <el-option v-for="dict in typeOptions" :key="dict.dictValue" :label="dict.dictLabel"
                :value="dict.dictValue" />
            </el-select>
          </el-form-item> -->
          <el-form-item label="摘要" prop="configKey">
            <el-input v-model="sqlData.brief" placeholder="摘要" clearable size="small" style="width: 240px" />
          </el-form-item>
          <!-- <el-form-item>
            <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
            <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
          </el-form-item> -->
        </el-form>
        <div class="barCode">
          <span>条码入库：</span>
          <span>材料条码</span>
          <el-input style="width:300px;" v-model="input" placeholder="请输入内容" size="mini"></el-input>
          <span style="padding-left: 20px;">原厂码</span>
          <el-input style="width:300px;" v-model="input" placeholder="请输入内容" size="mini"></el-input>
        </div>
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button type="primary" icon="el-icon-plus" size="mini" @click="importgoods">物资导入</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button type="primary" icon="el-icon-plus" size="mini" @click="addgoods">新增物资</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="multipler" @click="handleDeleter">删除
            </el-button>
          </el-col>
        </el-row>
        <el-table :data="list" border tooltip-effect="dark" highlight-current-row style="width: 100%;"
          @cell-click="handle" size="mini" @selection-change="listselectchange">
          <el-table-column align="center" type="selection" width="55">
          </el-table-column>
          <el-table-column prop="invCode" label="物资编码" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invName" label="物资名称" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invSepc" label="规格" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="invModel" label="型号" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="unitName" label="计量单位" show-overflow-tooltip>
          </el-table-column>
          <el-table-column align="center" label="数量">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.amount" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.amount }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="price" label="单价" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="amountMoney" label="金额" show-overflow-tooltip>
          </el-table-column>
          <el-table-column align="center" label="批号">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.batchNo" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.batchNo }}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="有效日期">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.invaDate" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.invaDate }}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="灭菌日期">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.disinfectDate" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.disinfectDate }}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column align="center" label="灭菌批号">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.title" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.title }}</span>
            </template>
          </el-table-column> -->
          <el-table-column align="center" label="注册证号">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.sn" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.sn }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="barId" label="条形码" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="factoryCodePn" label="原厂码" show-overflow-tooltip>
          </el-table-column>
          <el-table-column prop="venName" label="生产厂商" show-overflow-tooltip>
          </el-table-column>
          <el-table-column align="center" label="产地">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.productAddr" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.productAddr }}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column align="center" label="备注">
            <template slot-scope="{row}">
              <template v-if="row.edit">
                <el-input v-model="row.title" class="edit-input" size="mini" />
              </template>
              <span v-else>{{ row.title }}</span>
            </template>
          </el-table-column> -->
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="subdetailsData">确 定</el-button>
        </span>
      </div>
    </el-dialog>
    <import-goods :show.sync="importvisible" :importdata="importdata" @postdata="getpostdata"></import-goods>
    <el-dialog title="新增供应商" :visible.sync="supportVisible" width="90%" top="20px">
      <support-ship></support-ship>
      <span slot="footer" class="dialog-footer">
        <el-button @click="supportVisible = false">取 消</el-button>
        <el-button type="primary" @click="supportVisible = false">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="新增物资" :visible.sync="addVisible">
      <add-goods :val="addVisible" @getRowData="getrowdata"></add-goods>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="addVisible = false">确 定</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import ImportGoods from '@/components/ImportGoods';
  import SupportShip from '@/components/SupportShip';
  import AddGoods from '@/components/AddGoods';
  import { saveCheckGoods, getGoodsDetails, getGoodsList, importGoodsList, deleteBill, importGoodsDetails, deleteDetailsBill } from '@/api/viewhigh/checkmanage'

  export default {
    name: 'checkmanage',
    data() {
      return {
        addVisible: false,
        supportVisible: false,
        importvisible: false,
        submitData: {
          "createDate": '',
          "busTypeId": '',
          "storeId": '',
          "state": '',
          "venId": '',
          "billCode": '',
          "createEmp": '',
          "confirm": ''
        },
        sqlData: {
          "billId": "",
          "compCode": "",
          "billCode": "",
          "busTypeId": '',
          "createDate": '',
          "storeId": '',
          "venId": '',
          "venCode": '',
          "venName": '',
          "empCode": '',
          "createEmp": '',
          "createName": '',
          "brief": ''


        },
        multiple: true,
        multipler: true,
        dialogVisible: false,
        tableData: [],
        multipleSelection: [],
        list: [],
        idx: [],
        ids: [],
        importdata: []

      }
    },
    components: { ImportGoods, SupportShip, AddGoods },
    methods: {
      getpostdata(val) {
        this.list = val
      },
      handleDeleter() {
        let newVal = this.idx.map(val => {
          return val.billBid
        })
        deleteDetailsBill(newVal).then(res => {
          if (res.code == 200) {
            let newList = JSON.parse(JSON.stringify(this.list))
            this.idx.forEach(val => {
              newList.splice(val.index, 1)
            })
            this.list = newList
          }
        })

      },
      handleDelete() {
        console.log(this.ids)
        let arrId = this.ids.map(val => {
          return val.billId
        })
        //arrId = JSON.stringify(arrId)
        deleteBill(arrId).then(res => {
          if (res.code == 200) {
            this.handleQuery()
          }
        })
      },
      listselectchange(pa) {
        this.idx = pa;
        this.multipler = !pa.length;
      },
      openBillData(row) {
        this.dialogVisible = true;
        importGoodsDetails(row.billId).then(res => {
          this.list = res.data.mateSaasWhrInLineList
        })
        this.sqlData.billId = row.billId;
        this.sqlData.compCode = row.compCode;
        this.sqlData.billCode = row.billCode

      },
      closeclean() {
        this.sqlData.billId = '';
        this.sqlData.compCode = '';
        this.sqlData.billCode = ''
      },
      addSqlData() {
        this.dialogVisible = true;
        this.list = []
      },
      subdetailsData() {
        let paramas = { "mateSaasWhrInHead": this.sqlData, "mateSaasWhrInLineList": this.list }
        saveCheckGoods(paramas).then(res => {
          if (res.code == 200) {
            this.dialogVisible = false
            getGoodsList(this.submitData).then(res => {
              this.tableData = res.rows
            })
          }
        })
      },
      getrowdata(a) {
        let newList = this.list
        newList.push(JSON.parse(JSON.stringify(a)))
        newList.forEach((val, index) => {
          val.index = index
        })

        this.list = newList
      },
      addgoods() {
        this.addVisible = true;
      },
      getsupport() {
        this.supportVisible = true;
        this.$refs.isblur.blur()
      },
      importgoods() {
        importGoodsList().then(res => {
          this.importdata = res.rows;
        })
        this.importvisible = true;
      },
      handleSelectionChange(selection) {
        this.ids = selection;
        this.multiple = !selection.length
      },
      handleQuery() {
        getGoodsList(this.submitData).then(res => {
          this.tableData = res.rows
        })

      },
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => { });
      },
      handle(row, col, cell, eve) {
        this.list.forEach(val => {
          val.edit = false
        })
        // if (this.list.length == row.index + 1) {
        //   this.list.push({
        //     title: '',
        //     index: this.list.length
        //   })
        // }
        console.log(this.list)
        row.edit = true
      },
      initdata() {
        let newList = this.list.map(val => {
          val.edit = false
          return val
        })
        this.list = JSON.parse( JSON.stringify(newList) ) 
      }
    }
  }
</script>
<style scoped>
  .barCode {
    height: 30px;
    line-height: 30px;
    position: relative;
    padding-left: 10px;
    padding-bottom: 40px;
  }

  .barCode::before {
    content: '';
    height: 20px;
    width: 5px;
    background: #1890ff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 5px;
  }
</style>