<template>
  <div class="app-container">
    <el-form ref="queryForm" :inline="true" label-width="78px">
      <el-form-item label="物资名称">
        <el-input v-model="submitData.billCode" placeholder="物资名称" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="物资类别">
        <el-input v-model="submitData.billCode" placeholder="物资类别" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="规格">
        <el-input v-model="submitData.billCode" placeholder="规格" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="型号">
        <el-input v-model="submitData.billCode" placeholder="型号" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="供应商">
        <el-input v-model="submitData.billCode" placeholder="供应商" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item label="生产厂商">
        <el-input v-model="submitData.billCode" placeholder="生产厂商" clearable size="small" style="width: 240px" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">查询</el-button>
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="addSqlData">
          新增</el-button>
      </el-col>
    </el-row>
    <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark"
      style="width: 100%;margin-bottom: 50px;" @selection-change="handleSelectionChange" size="mini">
      <el-table-column type="selection" align="center" width="50">
      </el-table-column>
      <el-table-column label="物资编码" show-overflow-tooltip>
        <template slot-scope="{row}">
          <span @click="openBillData(row)">{{ row.invCode }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="invName" label="物资名称" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="empCode" label="物资类别" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="invSepc" label="规格" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="invModel" label="型号" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="brandName" label="品牌" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="venName" label="供应商" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="factoryCode" label="生产厂商" show-overflow-tooltip>
      </el-table-column>
      <el-table-column prop="planPrice" label="价格" show-overflow-tooltip>
      </el-table-column>
    </el-table>
    <el-dialog title="新增物资" :visible.sync="addVisible">
      <add-goods :val="addVisible" @getRowData="getrowdata"></add-goods>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="addVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import AddGoods from '@/components/AddGoods';
  import { importGoodsList } from '@/api/viewhigh/checkmanage'
  export default {
    name: 'documentmanage',
    data() {
      return {
        addVisible: false,
        submitData: {},
        tableData: []
      }
    },
    components: { AddGoods },
    methods: {
      handleQuery(){
        importGoodsList().then( res =>{
          if(res.code == 200){
            this.tableData = res.rows
          }
        })
      },
      getrowdata(){
        this.handleQuery()
      },
      addSqlData() {
        this.addVisible = true;
      },
      handleSelectionChange() { }
    }
  }
</script>

<style lang="scss" scoped>
</style>